*{
    /* margin: 10px; */
}
#parent{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
#icon{
    height: 70px;
    width: 70px;
}
#sports{
    color: aliceblue;
    justify-content: space-around;
   
}
#list{
    list-style: none;
    display: flex;
    justify-content: space-between
}
#ht{
    display: flex;
    justify-content: center;
    background-image: url("../images/background\ 1.jpg");
    background-size: cover;
    
}
h1{
    color: darkgreen;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    
}
h3{
    text-align: center;
    color: rgb(128, 210, 47);
}
.pic{
    height: 200px;
    width: 280px;
    margin-left: 10px;
    border-radius: 50px;
}
.box{
    color: aliceblue;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 5px solid rgb(49, 49, 145);
    display: inline-block;
    height: 820px;
    width: 307px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(133, 133, 234);
}
