*{
    margin: 10px;
}
h1{
    color: darkgreen;
    font-size: larger;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    
}
h3{
    text-align: center;
}
.pic{
    height: 200px;
    width: 280px;
    margin-left: 10px;
    border-radius: 50px;
}
.box{
    margin-right: 20px;
    border: 5px solid rgb(49, 49, 145);
    display: inline-block;
    height: 900px;
    width: 307px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(133, 133, 234);
}